* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Arvo', sans-serif;
  font-size: 16px;
  color: white;
  overflow: hidden;
}

.full-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.full-page.active {
  opacity: 1;
}

.full-width {
  position: absolute;
  width: 100vw;
}

h1 {
  font-size: 15vh;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 0.00em 0.02em 0.1em rgba(255, 255, 255, 0.8);
}

h2 {
  font-size: 5vh;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-shadow: 0.00em 0.00em 0.4em rgba(255, 255, 255, 1.0);
}

/* START SCREEN */

#start-screen {
  background: rgba(0, 0, 0, 0.3);
}

#title {
  top: 15vh;
  left: 0;
  text-align: center;
}

#title h1, #title h2 {
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-family: 'Eczar', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

#instruction {
  bottom: -18vh;
  left: 0;
  height: 40vh;
  text-align: center;
}

#to-begin {
  position: absolute;
  top: 5.5vh;
  width: 100%;
  font-size: 1.75vh;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0.00em 0.00em 0.1em rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.instruction-text {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  font-size: 4.2vh;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  text-shadow: 0.00em 0.00em 0.1em rgba(255, 255, 255, 0.8);
  letter-spacing: 0.05em;
  transition: all 0.5s ease-in-out;
}

.instruction-text.active {
  position: absolute;
  top: 0;
  opacity: 1;
}


/* GAME OVER SCREEN */
#game-over {
  background-color: rgba(0, 0, 0, 0.8);
}

#game-over-headline {
  top: 10vh;
  text-align: center;
}

#all-stats {
  position: absolute;
  top: 30vh;
  width: 70vw;
  margin-left: 15vw;
}

.stat-box {
  position: relative;
  float: left;
  width: 50%;
  margin: 0 0 5vh 0;
  padding: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.stat-box.active {
  opacity: 1.0;
}

.stat-heading {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.8vh;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-shadow: 0.00em 0.00em 0.3em rgba(255, 255, 255, 0.7);
  line-height: 1em;
}

.stat {
  padding: 0;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 4vh;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-shadow: 0.00em 0.00em 0.3em rgba(255, 255, 255, 1.0);
  line-height: 1em;
}

p.stat {
  width: 100%;
}

#fire-proportion {
  margin-top: 7vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2vh;
}

#fire-proportion div {
  position: relative;
  float: left;
  box-sizing: border-box;
  height: 4vh;
}

#ship-fire {
  border-radius: 0 2vh 2vh 0;
  background:url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2P8H8nwn3E5AyOMZmRAA2ABFFXoKgDr3gtcKfO8pQAAAABJRU5ErkJggg==
  ) repeat;
}

#ship-ok {
  border-radius: 2vh 0 0 2vh;
  background:url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2NkQAOMIP7///8bGBkZG0BssAAywBAAALDiBAUCBLA1AAAAAElFTkSuQmCC
  ) repeat;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;

  background-image: linear-gradient(
    0deg,
    rgba(242, 208, 123, 0.7),
    rgba(242, 208, 123, 0.7),
    rgba(80, 0, 25, 0.8)
  );

  z-index: 1;
}